* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: #f5f5f7;
  font-family: Inter;
  overflow-x: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.main-header {
  padding: 5px;
}

.logo {
  float: left;
}

.logo span {
  color: #5b47d1;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 24px;
  background-color: #f0edff;
  display: inline-block;
}

.navigation {
  float: right;
  margin-top: 15px;
}

.navigation a {
  text-decoration: none;
  color: #000000;
  margin-left: 15px;
  font-size: 24px;
}

.hero-section {
  background-image: url("cover.png");
  background-position: center;
  width: 1920px;
  height: 400px;
  text-align: center;
  color: #ffffff;
}

.hero-text {
  padding-top: 150px;
}

.section-title {
  text-align: center;
  margin: 50px 0;
}
.cards-wrapper {
  text-align: center;
  margin-bottom: 100px;
}

.card {
  display: inline-block;
  width: 350px;
  margin: 12px;
  background: #ffffff;
  text-align: left;
  vertical-align: top;
}

.card-img {
  width: 100%;
  height: 240px;
}
.color-1 {
  background-color: #c7b8ff;
}
.color-2 {
  background-color: #ffb8d8;
}
.color-3 {
  background-color: #b8e0ff;
}
.color-4 {
  background-color: #d4ffb8;
}
.color-5 {
  background-color: #ffe4b8;
}
.color-6 {
  background-color: #ffd4b8;
}

.card-info {
  width: 100%;
  padding: 25px 15px;
}
.card-meta {
  font-size: 13px;
  color: #000000;
  margin-bottom: 5px;
  display: block;
}
.date {
  margin-right: 10px;
}
.author {
  color: #000000;
  font-weight: 500;
}
.card-info h3 {
  font-size: 22px;
  color: #000000;
  margin-bottom: 5px;
  overflow: hidden;
}
.card-info p {
  font-size: 15px;
  color: #000000;
  line-height: 1;
}

.main-footer {
  background-color: #252424;
  color: #a1a1a6;
  padding-top: 50px;
  width: 100%;
}

.footer-col {
  float: left;
  width: 30%;
  padding: 0 20px;
}

.footer-bottom {
  background-color: #020202;
  color: #86868b;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  width: 100%;
}

.footer-col h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-col p {
  color: #a1a1a6;
  margin-bottom: 10px;
  font-size: 14px;
}
